{% extends "blog/base.html" %}

{% block content %}
    <div class="content-section">
        <form method="POST">
            {% csrf_token %}        <!-- Must cause of security reasons as per python -->
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Delete Post</legend>
                <h5>Are you sure to delete <span style="color: cadetblue;"><strong>"{{ object.title }}"</strong></span> post ?</h5>
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-danger" type="submit">Yes, Delete</button>
                <a class="btn btn-outline-secondary" href="{% url 'post-detail' object.id %}">Cancel</a>
            </div>
        </form>
    </div>
{% endblock content %}